:root
    --input-color: #D0D0D0
    --black: #2B2929
    --main: #6235FA
    --bold: "bold"
    --demi-bold: "demiBold"
    --medium: "medium"
    --regular: "regular"
    --thin: "thin"

body
    font-family: var(--regular)
    color: var(--black)



.title
    font-family: var(--demi-bold)


    @font-face 
        font-family: "bold"
        src: url("../Font/VisbyBold.ttf")

    @font-face 
        font-family: "demiBold"
        src: url("../Font/VisbyDemiBold.ttf")

    @font-face 
        font-family: "medium"
        src: url("../Font/VisbyMedium.ttf")

    @font-face 
        font-family: "regular"
        src: url("../Font/VisbyRegular.ttf")

    @font-face 
        font-family: "thin"
        src: url("../Font/VisbyThin.ttf")
    